
#position {
  margin: 2rem;
}

.box {
  box-shadow: none;
  background-color: rgba(255,255,255,0.4);
  margin: 0 auto;
  padding: 0;
}

.card-header-tabs {
  margin: 0;
  justify-content: space-between;
  
}

.nav-link { 
  background-color:rgba(255,255,255,0.4);
  color: black;
}
.search {
    margin: 1rem 0;
}
.row {
  border-radius: .25rem;
  padding: 2rem 1rem;
  overflow: hidden;
  align-content: space-around;
}
#last {
  margin-bottom: 1rem;
}

.card {
  display: inline-block;
  border-radius: .25rem;
  border: 0;
}

.card-header:first-child {
  border-radius: 0.25rem;
}
.card-header {
  background-color: rgb(69, 110, 160);
  border: inherit;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
  min-height: 300px;
}

#name {
  min-height: 75px;
}

.undefined {
  background-color: white;
}
.container {
  background-color: white;
  border-radius: .25rem;
  padding: 15px;
  margin: 0 0 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
}
.show {
  background: rgba(255, 255, 255, 0.3);
}
.Searchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.Searchbox-submit {
  margin-top: 10rem;
  text-align: center;
  border: none;
}

.Searchbox-submit:after{
	content: '';
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.Searchbox-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.Searchbox-submit a:hover {
  cursor: pointer;
}

.SearchState, .SearchDegree, .SearchSize {
  padding-top: 1rem;
}

.attention {
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
}
