
#position {
  margin: 2rem;
}

.box {
  box-shadow: none;
  background: transparent;
}

.search {
    margin: 1rem 0;
}
.row {
  border-radius: .25rem;
  
  margin-bottom: 3rem;
  overflow: hidden;
}
#last {
  margin-bottom: 1rem;
}

.card {
  display: inline-block;
  border-radius: .25rem;
  border: 0;
}

.card-header:first-child {
  border-radius: 0.25rem;
}
.card-header {
  background-color: rgb(69, 110, 160);
  border: inherit;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
  min-height: 300px;
}

#name {
  min-height: 75px;
}

.undefined {
  background-color: white;
}
.container {
  background-color: white;
  border-radius: .25rem;
  padding: 15px;
  margin: 0 0 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
}
.show {
  background: rgba(255, 255, 255, 0.3);
}
.Searchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.Searchbox-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.Searchbox-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem .33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: .83rem;
  transition: color .25s;
}

.Searchbox-sort-options li:hover {
  color: #d4cfcf;
}

.Searchbox-sort-options li.active,
.Searchbox-sort-options li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: #f0c36c;
}

.Searchbox-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.Searchbox-fields input {
  width: 21rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

.Searchbox-fields input:last-child {
  margin-right: 0;
}

.Searchbox-submit {
  margin-top: 10rem;
  text-align: center;
  border: none;
  
  
}



.Searchbox-submit:after{
	content: '';
	
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.Searchbox-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.Searchbox-submit a:hover {
  cursor: pointer;
  
}

.SearchState, .SearchDegree, .SearchSize {
  padding-top: 1rem;
}

.attention {
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
}

@media only screen and (max-width: 560px) {
  /*
  .Searchbox {
    background-image: url('background-search-mobile.jpg'); 
  }
  */

  .Searchbox-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .Searchbox-fields {
    flex-direction: column;
    align-items: center;
  }

  .Searchbox-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }
}