.container {
  background: rgb(69,110,160);
  background: linear-gradient(0deg, rgba(69,110,160,1) 0%, rgba(146,171,199,1) 50%, rgba(255,255,255,1) 100%); 
}

.moreInfo {
  color: black;
  
}


#block {
  display: block;
  height: 100%;
  width: 100%;
}
.map {
  text-align: center;
}

.grid {
  display: inline-block;
}

/*
h6 
  font-size: 1.5rem;
.mapImage {
  
}
*/