.info-card {
  background-color: transparent;
  box-shadow: none;
}

.title {
  border-radius: .25rem;
}
.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: .25rem;
}

.moreInfoGroup {
  flex: 1;
}
