/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

.jumbotron {
  background-image: url('../images/graduation.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  border-radius: 0;
}
/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background: rgb(69,110,160);
  background: linear-gradient(0deg, rgba(69,110,160,1) 0%, rgba(146,171,199,1) 50%, rgba(255,255,255,1) 100%); 
}

.App-header {
  display: block;
  background-color: rgb(69, 110, 160);
  margin: 0;
  
}

.container-fluid {
  padding: 0;
  border-radius: 0;
}

.App-Submit {
  padding: 5px auto;
  background-color: rgba(69, 110, 160, 0.75);
  background-image: linear-gradient(rgb(69,110,160), rgb(146,171,199));
}

h1 {
  padding: .66rem 0;
  text-align: center;
  
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
